body#page2 {
  background-color: #39cccc;
}
header {
  margin: auto;
  padding: 10px;
  text-align: center;
}
.about-me-container {
  border: 0;
  margin: 80px 40px 80px 40px;
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  font-family: 'Raleway,Tahoma,Times New Roman', Verdana;
  font-weight: 500px;
  text-align: center;
  border-radius: 10px;
}
.intro-top {
  display: grid;
  padding: 0.5em;
}

img {
  width: 600px;
  height: 200px;
}

.image {
  text-align: center;
}

#social {
  margin-top: 20px 20px;
  padding: 10px;
  font-weight: bold;
}
a {
  margin: 20px;
  background-color: bisque;
  justify-content: center;
  border-radius: 100px;
  padding: 10px;
}
a:link {
  color: darkorchid;
}
a:visited {
  color: lightcoral;
}
a:hover {
  color: red;
}
a:active {
  color: blueviolet;
}

#tag {
  color: black;
  text-align: center;
}

#home:hover {
  color: chartreuse;
  background-color: black;
}

#home:visited {
  color: teal;
  background-color: azure;
}

.contact-form {
  color: black;
  background-color: lavender;
  border: 2px solid green;
  border-radius: 20px;
  text-align: center;
  padding: 5px 2px 5px 5px;
  width: 400px;
  margin-left: 470px;
}
#form input {
  color: green;
  background-color: pink;
}
#message-text {
  padding: 5px;
  border-radius: 10px;
}
#form textarea {
  color: black;
  background-color: chartreuse;
}
#error {
  color: red;
  display: none;
}

/* Media Queries */
@media (max-width: 1000px) {
  header {
    color: red;
    font-size: large;
    background-color: lightsteelblue;
  }

  footer {
    text-align: center;
    background-color: lightskyblue;
  }

  a:hover {
    color: blue;
    background-color: greenyellow;
  }

  a:visited {
    color: dimgray;
    background-color: mediumvioletred;
  }
  .contact-form {
    display: none;
  }
  #error {
    display: none;
  }
}

@media (max-width: 800px) {
  #page2 {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas:
      'home home home'
      'home about-me-container social';
  }

  #home {
    grid-area: home;
  }

  .about-me-container {
    grid-area: about-me-container;
    background-color: black;
    color: aliceblue;
  }

  header {
    color: blue;
    font-size: large;
    background-color: lightsteelblue;
  }

  #social {
    grid-area: social;
    color: black;
  }
  a:hover {
    color: red;
    background-color: black;
  }

  a:visited {
    color: darkgreen;
    background-color: gold;
  }
  .contact-form {
    display: none;
  }
}
